html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --font-family: 'myfont';
  --font-size: 21px;
}

/*
Layout
Text
Appearance
Animation
CSS Variables
Grid
Flex
Table
Generated Content
Other
*/
/* || =============== NORMALIZE START =============== */
body,
.nav-menu,
.nav-projects,
.menu-item,
.span-insipiration,
.link-inspiration,
h1 {
  margin: 0;
  padding: 0;
}

/* || =============== NORMALIZE END =============== */
body {
  box-sizing: border-box;
  font: var(--font-size)/121% var(--font-family), consolas;
  background-color: ivory;
}

/* || =============== FLEX START =============== */
/* || =============== FLEX END =============== */
/* || =============== TEXT START =============== */
.bold {
  font-size: 25px;
  font-weight: 700;
}

.medium {
  font-size: 21px;
  font-weight: 550;
}

.baseline {
  align-items: baseline;
}

/* || =============== TEXT END =============== */
@media screen and (min-width: 570px) {
  .header-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}

.header-link-wrapper {
  margin-left: auto;
}

@media screen and (min-width: 320px) and (max-width: 569px) {
  .header-link-wrapper {
    margin-top: 21px;
  }
}

@media screen and (min-width: 570px) {
  .header-link-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-header {
  position: relative;
  padding-top: 15px;
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .page-header {
    height: 84px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu {
  background-color: ivory;
  position: absolute;
  transition-property: opacity;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 21px;
}

@media screen and (max-width: 767px) {
  .menu {
    top: 50px;
    right: 21px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    position: relative;
    display: flex;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .menu.is-hidden {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.burger-btn {
  position: absolute;
  top: 15px;
  right: 21px;
  padding: 6px 12px;
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

/* Decoration Line */
.page-header::after {
  content: '';
  display: block;
  border-bottom: 1px solid #ececec;
  margin-top: 1px;
  width: 100%;
  height: 0;
}

.header-nav,
.nav-menu,
.nav-projects {
  align-items: baseline;
  list-style: none;
}

.header-nav {
  padding-top: 0;
}

@media screen and (min-width: 570px) {
  .header-nav {
    display: flex;
  }
}

.nav-menu {
  display: flex;
  margin-right: 21px;
}

.nav-menu-item,
.nav-projects__item {
  flex-grow: 1;
}

.nav-menu-item:not(:last-child),
.nav-projects__item:not(:last-child) {
  margin: 0 12px 12px 0;
}

.links,
.span-insipiration {
  padding: 3px 8px;
  text-decoration: none;
}

.links {
  border-radius: 21px;
  color: black;
  border: 1px solid #e2e0ae;
}

.active,
.links:hover,
.links:focus {
  color: blue;
}

.container {
  margin: 0 auto;
  padding: 0 21px;
}

@media screen and (min-width: 1042px) {
  .container {
    max-width: 1042px;
  }
}

.h-1 {
  padding-bottom: 0.21px;
  margin-bottom: 21px;
  color: crimson;
}

.text-holy {
  background-color: #ff0;
  color: #000;
}

.i-need-list {
  list-style: none;
}

.page-footer {
  background-color: #303846;
}

.footer__copyright {
  padding-top: 0.21em;
  padding-bottom: 0.21em;
  color: aliceblue;
}

@media screen and (min-width: 570px) {
  .edu-wrapper-big {
    display: flex;
    flex-wrap: wrap;
  }
}

.edu-wrapper {
  max-width: 210px;
  padding: 5px;
  margin: 5px;
  border: 1px ridge darkgoldenrod;
}

.hero-image {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.hero-image:hover {
  box-shadow: 0 2px 4px 1px #212121;
}

.scale {
  transform: scale(2);
}
/*# sourceMappingURL=main.css.map */