:root {
  --decovar-font-family: "myfont";
  --decovar-font-size: 21px;
}

/*
Layout
Text
Appearance
Animation
CSS Variables
Grid
Flex
Table
Generated Content
Other
*/

/* || =============== NORMALIZE START =============== */
body,
.nav-menu,
.menu-item,
.span-insipiration,
.link-inspiration {
  margin: 0;
  padding: 0;
}
/* || =============== NORMALIZE END =============== */

body {
  width: 1500px;
  box-sizing: border-box;
  font: var(--decovar-font-size) / 121% var(--decovar-font-family), consolas;
  background-color: ivory;
}

/* || =============== FLEX START =============== */
body .💪 {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.inline-flex {
  display: inline-flex;
}

.jcenter {
  justify-content: center;
}

.acenter {
  align-items: center;
}

.jevenly {
  justify-content: space-evenly;
}

/* || =============== FLEX END =============== */

/* || =============== TEXT START =============== */
.bold {
  font-size: 25px;
  font-weight: 700;
}

.medium {
  font-size: 21px;
  font-weight: 550;
}
.baseline {
  align-items: baseline;
}

/* || =============== TEXT END =============== */

.page-header {
  width: 100%;
}

.header-link-wrapper {
  padding-left: 55%;
  white-space: nowrap;
  flex-wrap: nowrap;
  flex-grow: 3;
  flex-basis: auto;
}

/* Decoration Line */
.page-header::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ececec;
  margin-top: 1px;
  width: 100%;
  height: 0;
}

/*
.body-dream-big {...;}
.page-header {...;}
.header-nav {...;}
.nav-menu flex row {...;}
*/

/* .header-wrapper {
  justify-content: end;
} */

/* .header-wrapper {
  justify-content: space-around;
} */

.header-wrapper {
  width: 100%;
}

.nav-menu {
  list-style: none;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-top: 21px;
}

.nav-menu-item {
  padding-left: 21px;
}

/* .span-insipiration {
  display: inline-flex;
} */

.links,
.span-insipiration {
  text-decoration: none;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
}

.links {
  border-radius: 21px;
  color: black;
  border: 1px solid #e2e0ae;
}

.active,
.links:hover,
.links:focus {
  color: blue;
}

.container {
  flex-wrap: wrap;
  flex-direction: row;
}

.h-1,
.footer__copyright {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.h-1 {
  padding-bottom: 0.21px;
  margin-bottom: 21px;
  color: crimson;
}

.h-3 {
  white-space: pre-wrap;
}

.text-holy {
  background-color: #ff0;
  color: #000;
}

.i-need-list {
  list-style: none;
}

.footer__copyright {
  padding-top: 0.21em;
  padding-bottom: 0.21em;
  background-color: #303846;
  color: aliceblue;
}

.edu-wrapper {
  width: 210px;
  padding: 5px;
  margin: 5px;
  border: 1px ridge darkgoldenrod;
}

.container {
  padding: 21px;
}

.page-footer {
  width: 100%;
}
